{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}QuickPlan{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  {% endblock %}
</head>
<body>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  <footer id="footer">
    <div class="info">
      <div class="contact">
        <h3>You can reach us here</h3>
        <div class="contact-info">
          <p><img src="{% static 'images/phone.png' %}">+2507xxxxxxxx</p>
          <p><img src="{% static 'images/email.png' %}">info@planquick.com</p>
        </div>
      </div>
      <div class="socials">
        <h3>Check us out</h3>
        <div class="social-logo">
          <img src="{% static 'images/instagram.png' %}">
          <img src="{% static 'images/fb.png' %}">
          <img src="{% static 'images/twitter.jpg' %}">
        </div>
      </div>
    </div>
  </footer>
</body>
</html>