{% extends '_base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block title %}dashboard{% endblock title %}
{% block content %}
<body>
    <div id="profile">
        <a href="{% url 'profile' %}">Profile</a>
    </div>
	<div> <a href="{% url 'upload' %}">upload</a></div>
    <div id="pivot-chart-container"></div>
		<div class="header">
			<section class="logo">
				<h1 class="logoname">PlanQuick Dashboard</h1>
			</section>
			<section class="links">
                Hello, {{ user.username|default:'Guest' }}!
                 <p><a href="{% url 'account_logout' %}">Log Out</a></p>
			</section>
		</div>
		{% if messages %}
		<ul class="messages">
    		{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    		{% endfor %}
		</ul>
		{% endif %}
	</body>

{% endblock %}
