{% extends '_base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
		<main class="dash-section">
			<div class="sidebar">
				<div class="user">
					<p><img src="{% static 'images/person.jpg' %}">{{user.username}}</p>
				</div>
				<div class="tools">
					<p class="profile"><img src="{% static 'images/profile.jpg' %}">Profile</p>
					<p class="summary-icon"><img src="{% static 'images/summary.jpg' %}">Summary</p>
					<p class="statement"><img src="{% static 'images/statement.jpg' %}">Statement</p>
					<p class="chart"><img src="{% static 'images/graph.png' %}">Chart</p>
					<p class="settings"><img src="{% static 'images/settings.png' %}">Settings</p>
					<p class="help"><img src="{% static 'images/settings.png' %}">Help</p>
				</div>
			</div>
			<div class="dash-info">
				<div class="dashboard">
					<h1>Dashboard</h1>
				</div>
				<div class="balance">
					<h3>Account Balance: </h3>
				</div>
				<div class="summary">
					<h3>Summary</h3>
					<div class="sub-summary">
						<div class="received">
							<h4>Received</h4>
						</div>
						<div class="spent">
							<h4>Spent</h4>
						</div>
					</div>
				</div>
				<div class="analytics">
					<h3>Analytics</h3>	
				</div>
			</div>
		</main>
{% endblock content %}