{% extends '_base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
	<body>
		<section class="header">
			<header>
				<span class="user-info">
					<img src="images/person.jpg">
					<div class="user">
						<h3>Username</h3>
						<h5>Log out</h5>
					</div>
				</span>
			</header>
		</section>
	</body>
{% endblock content %}	
