{% extends '_base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% Static 'styles/login.css' %}">
<link rel="stylesheet" href="{% Static 'styles/common.css' %}">
{% endblock %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
<body>
	<div class="header">
			<h1><a href="index.html">PlanQuick</a></h1>
	</div>
	<main class="form-section">
		<div class="form">
			<form>
				<h3>Sign In</h3>
				<label for="email">Email</label><br>
				<input type="email" id= "email" name="email" required><br>
				<label for="password">Password</label><br>
				<input type="password" id= "password" name="password" required>
				<button class="login">Login</button>
				<p>Don't have an account? <a href="Register.html">Create one</a></p>
			</form>
		</div>
	</main>
</body>
{% endblock content %}
