.dash-section{
	width: 100%;
	height: 100%;
	display: flex;

}
.sidebar{
	background-color: #dfecdf;
	box-shadow: 5px 0px 10px #90bb90;
	width: 20%;
	height: 680px;
	color: #2F4F4F;
	font-family: "Andalé Mono", monospace;
	position: sticky;
	top: 0;
	left: 0;
	bottom: 0;
	cursor: pointer;
}
.sidebar img{
	height: 30px;
	margin-right: 15px;
	border-radius: 15px;
}
.sidebar p{
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.user{
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: bold;
	margin-left: 30px;
	cursor: default;
}
.tools{
	margin-left: 40px;
	margin-top: 30px; 
}
.tools p:hover{
	background-color: #90bb90;
	border-radius: 15px;
	padding-left: 20px;
	margin-right: 40px;
}
.dash-info{
	font-family: "Andalé Mono", monospace;
	font-size: 25px;
	margin-left: 15px;
	margin-top: 10px;
	width: 100%;
	color: #2F4F4F;
	letter-spacing: -1px;
}
.dash-info h3{
	font-size: 30px;
}
.dash-info h4{
	font-size: 20px;
}
.dashboard{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 10px;
	cursor: default;
}
.dashboard p{
	cursor: pointer;
	word-spacing: -5px;
}
.balance{
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	box-shadow: 0px 0px 10px 5px #bfd9bf;
	height: 60px;
	display: flex;
	align-items: center;
}
.summary{
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	box-shadow: 0px 0px 10px 5px #bfd9bf;
	height: 400px;
}
.sub-summary{
	display: flex;
	justify-content: space-around;
	height: 90%;
}
.received{
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	box-shadow: 0px 0px 10px 5px #bfd9bf;
	height: 90%;
	width: 40%;
	background-color: #dfecdf;
}

.spent{
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	box-shadow: 0px 0px 10px 5px #bfd9bf;
	height: 90%;
	width: 40%;
	background-color: #dfecdf;
}
.analytics{
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	box-shadow: 0px 0px 10px 5px #bfd9bf;
	height: 400px;
	align-items: center;
}