header{
	color: #dfecdf;
	background-color: #2F4F4F;
	font-size: 20px;
	display: flex;
	height: 60px;
	justify-content: space-between;
	font-family: "Andalé Mono", monospace;
	align-items: center;
	cursor: pointer;
	position: sticky;
	top:0;
	right: 0;
	left: 0;
	box-shadow: 0px 8px 5px #90bb90;
}
header h1{
	margin-left: 20px;
	font-family: "trebuchet ms", sans-serif;
}
header a{
	color:#dfecdf;
	text-decoration: none;
}
.nav-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: default;
	width: 100%;
	height: 80px;
}
.links{
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-right: 20px; 
	font-size: 18px;
}
.links li{
	margin-left: 15px;
	word-spacing: -5px;
}
.links li:hover{
	background-color: #1d2f1d;
	border-radius: 10px;
	padding: 3px;
}
.main-content{
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: "trebuchet ms", sans-serif;
}
.about-us{
	background-color: #dfecdf;
	color: #2F4F4F;
	font-family: "gill sans"optima"", sans-serif;
	border-radius: 10px;
	height: 75%;
	width: 400px;
	box-shadow: 0px 0px 20px 9px #a0c5a0;
	padding: 30px 30px;
}
.work-guide{
	background-color: #dfecdf;
	color: #2F4F4F;
	font-family: "gill sans"optima"", sans-serif;
	border-radius: 10px;
	height: 75%;
	width: 400px;
	box-shadow: 0px 0px 20px 9px #a0c5a0;
	padding: 30px 30px;
}
.work-guide h2, .about-us h2{
	display: flex;
	justify-content: center;
}
footer{
	background-color: #dfecdf;
	color: #2F4F4F;
	font-family: "Andalé Mono", monospace;
	word-spacing: -5px;
	font-size: 18px;
/*	height: 100px;*/
	border-top: 3px solid #2F4F4F;
	position: relative;
	bottom: 0;
	right: 0;
	left: 0;
}
.info{
	padding-top: 20px;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}
.info p{
	font-size: 16px;
	margin-left: 20px;
	font-family: "trebuchet ms", sans-serif;
}
.social-logo{
	display: flex;
	justify-content: space-between;
}
.social-logo img, .contact img{
	height:40px;
	border-radius: 20px;
	margin-right: 10px;
}
.contact-info p{
	padding-top: 5px;
	display: flex;
	align-items: center;
}
