.header{
	border-bottom: 1px solid #00FA9A;
	margin-top: 0px;
}
.logo{
	color:#00FA9A;
	font-size: 25px;
	border-bottom:1px solid #00FA9A;
}
.links{
	text-align: right;
	margin-right: 10px;
}
.links a, p{
	text-orientation: sideways;
	color:#00FA9A;
	display: inline-block;
	margin-left: 5px;
}